<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Página de ejemplo de Spring Boot + Thymeleaf para el curso de Egg" name="description"/>
    <meta content="Cristian Solís" name="author"/>
    <title>Materias - Egg</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container mt-5 main" style="
    padding-bottom: 10%">
    <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
    <h1>Listado de Materias</h1>
    <hr class="mb-4"/>
    <div th:if="${materias.isEmpty()}">
        <h5>Todavía no hay Materias cargados.
    </div>
    
<!--     <div class="table-responsive" th:unless="${materias.isEmpty()}"> -->
    <div class="table-responsive" >
        <a th:href="@{/estudiante/materia}" class="btn btn-success mb-4">Buscar Materia</a>
          <a th:href="@{/estudiante/materia}" class="btn btn-success mb-4">Listar Materias Inscriptas</a>
          <a sec:authorize="hasRole('ADMIN') or hasRole('PROFESOR')"  th:href="@{/crear}" class="btn btn-success mb-4">Crear Materia</a>
        <table class="table table-hover table-bordered">
            <thead class="table-dark text-center">
            <tr>
                <th class="col-md-3">Nombre</th>
                <th class="col-md-3">Descripcion</th>
                <th class="col-md-3">Alta</th>
                <th class="col-md-2">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${materias}">
                <td class="col-md-3" th:text="${usuario.nombre}"></td>
                <td class="col-md-3" th:text="${usuario.descripcion}"></td>
                <td class="col-md-1" th:text="${usuario.alta}"></td>
                <td class="col-md-2">
                    <div class="d-flex justify-content-around">
                      
                        <form method="post"
                              th:action="${usuario.alta} ? @{/eliminar/__${usuario.id}__} : @{/habilitar/__${usuario.id}__}" >
                                                    <input type="text" th:value=${session.id} name="idE" class="form-control">

                            <button th:class="${usuario.alta} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                                    type="submit" th:text="${usuario.alta} ? 'Dar de baja' : 'Inscribirse'">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

  
    </div>
</div>




<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
